---
layout: default

title: Form - CZ ResponCZive

inputs: [
	{
        'type': 'text'
    },
	{
		'type': 'number'
	},
	{
		'type': 'search'
	},
	{
		'type': 'email'
	},
	{
	  	'type': 'password'
	},
	{
		'type': 'date',
		'module': 'ui/datepicker'
	}
]

checkables: [
	{
		'label': 'Tick me',
		'value': 'a'
	},
	{
		'label': 'Or tick me with my extremely long and descriptive label',
		'value': 'b'
	},
	{
		'label': 'Or tick me',
		'value': 'c'
	}
]

---


<!-- webform example -->
<div data-module="ui/form">

	<input name="bar" type="text" value="2"/>
	<button type="submit" onclick="alert('.Net callback!')">send webform</button>

</div>





<!-- form example -->
<form data-module="ui/form">
	<h1 class="h1">Form elementen</h1>

	<!-- block form-item wrapper -->
	<div class="form-item">

	</div>

	<!-- inline form-item wrapper -->
	<span class="form-item">

	</span>


	<!-- default fieldset format -->
	<fieldset>
		<legend>I am legend</legend>

	</fieldset>





	<!-- dates -->
	<div class="form-item">
		<label for="age-validation">Age Validation (has to lie between 18 and 120)</label>
		<input id="age-validation" type="date" required
			   data-module="ui/datepicker"

			   data-agemin="18"
			   data-agemax="120"
			   data-agemin-message="Age has to be higher than or equal to %s years."
			   data-agemax-message="Age has to be lower than or equal to %s years."

			   data-error-container="#age-error"/>
		<div id="age-error"></div>
	</div>

	<div class="form-item">
		<label for="date-validation">Date Validation</label>
		<input id="date-validation" type="date" required
			   data-module="ui/datepicker"
			   data-error-container="#date-error"/>
		<div id="date-error"></div>
	</div>

	<div class="form-item">
		<label for="input-validated-before-date">Input Date (validates if before 15/7/2013)</label>
		<input id="input-validated-before-date" type="date" required
			   data-module="ui/datepicker"
			   data-beforedate="1373839200000"
			   data-beforedate-message="The date should lie before %d"
			   data-error-container="#before-date-error">
		<div id="before-date-error"></div>
	</div>

	<div class="form-item">
		<label for="input-validated-after-date">Input Date (validates if after 15/7/2013)</label>
		<input id="input-validated-after-date" type="date" required
			   data-module="ui/datepicker"
			   data-afterdate="1373839200000"
			   data-afterdate-message="The date should lie after %d"
		       data-error-container="#after-date-error">
		<div id="after-date-error"></div>
	</div>


	<!-- input -->
	<div class="form-item">
		<label for="input-validated-required">Input Required</label>
		<input id="input-validated-required" type="text" required data-required-message="Trollololo">
		<ul class="validity-list parsley-error-list">
			<li class="validity-list-item required">Trollololo</li>
		</ul>
	</div>

	<div class="form-item">
		<label for="input-validated-email">Input Email</label>
		<input id="input-validated-email" type="email">
	</div>

	<div class="form-item">
		<label for="input-validated-number">Input Number</label>
		<input id="input-validated-number" type="number" required data-type="number">
	</div>


	<div class="form-item">
		<label for="input-validated-readonly">Input Text Readonly</label>
		<input id="input-validated-readonly" type="text" required readonly data-required-message="Required but readonly">
	</div>






	{% for input in page.inputs %}

	<!-- basic {{input.type}} input -->
	<div class="form-item">
		<label for="input-{{input.type}}-{{forloop.index}}">Basic {{input.type}} input</label>
		<input id="input-{{input.type}}-{{forloop.index}}" type="{{input.type}}" {% if input.module %} data-module="{{input.module}}" {% endif %}>
	</div>

	{% endfor %}



	<!-- basic textarea -->
	<div class="form-item">
		<label for="textarea-basic">Basic textarea</label>
		<textarea id="textarea-basic"></textarea>
	</div>


	<!-- basic dropdown -->
	<div class="form-item">
		<label for="select-basic">Basic dropdown</label>
		<select id="select-basic">
			<option value="0">Dropping down</option>
		</select>
	</div>


	<!-- basic checkbox -->
	<div class="form-item">
		<label class="checkable"><input type="checkbox" name="checkbox-single" value="1"><span>Check me out</span></label>
	</div>


	<!-- inline checkbox list -->
	<fieldset class="form-item checkables">
		<legend>Inline checkbox list</legend>
		<ul>
			{% for checkable in page.checkables %}
			<li><label class="checkable"><input type="checkbox" name="checkboxes-inline" value="{{checkable.value}}"><span>{{checkable.label}}</span></label></li>
			{% endfor %}
		</ul>
	</fieldset>


	<!-- stacked checkbox list -->
	<fieldset class="form-item checkables stacked">
		<legend>Stacked checkbox list</legend>
		<ul>
			{% for checkable in page.checkables %}
			<li><label class="checkable"><input type="checkbox" name="checkboxes-stacked" value="{{checkable.value}}"><span>{{checkable.label}}</span></label></li>
			{% endfor %}
		</ul>
	</fieldset>


	<!-- inline radiobutton list -->
	<fieldset class="form-item checkables">
		<legend>Inline radio list</legend>
		<ul>
			{% for checkable in page.checkables %}
			<li><label class="checkable"><input type="radio" name="radios-inline" value="{{checkable.value}}"><span>{{checkable.label}}</span></label></li>
			{% endfor %}
		</ul>
	</fieldset>


	<!-- stacked radiobutton list -->
	<fieldset class="form-item checkables stacked">
		<legend>Stacked radio list</legend>
		<ul>
			{% for checkable in page.checkables %}
			<li><label class="checkable"><input type="radio" name="radios-block" value="{{checkable.value}}"><span>{{checkable.label}}</span></label></li>
			{% endfor %}
		</ul>
	</fieldset>


	<!-- form item group -->
	<div class="form-item-set">


		<!-- basic dropdown in inline form-item -->
		<span class="form-item">
			<label for="select-inline">Inline dropdown</label>
			<select id="select-inline">
				<option value="0">Dropping down</option>
			</select>
		</span>


		<!-- basic input in inline form-item -->
		<span class="form-item">
			<label for="input-inline">Inline input</label>
			<input id="input-inline" type="text">
		</span>


		<!-- basic textarea in inline form-item -->
		<span class="form-item">
			<label for="textarea-inline">Inline textarea</label>
			<textarea id="textarea-inline"></textarea>
		</span>

	</div>

	<button type="submit">Send</button>

</form>
