.contact-block{
	@include box-sizing(border-box);
	font-family: $thesans-plain;
	position: relative;

	section {
		margin-right: 2em;
		padding: .875em 0 1em .66666667em;

		> dl {
			margin-bottom: 0;
		}
	}

	dl,
	ul {
		list-style: none;
		margin: .25em 0 0;
		padding: 0;
	}

	.contact-icon {
		background: transparent url(../img/contact-block.png) no-repeat;
		display: inline-block;
		height: 22px;
		text-indent: 35px;
		width: 30px;
		&.chat {
			background-position: 0 0;
		}
		&.mail {
			background-position: 0 -22px;
		}
		&.phone {
			background-position: 0 -44px;
		}
		&.callback {
			background-position: 0 -66px;
		}
	}

	.bd a {
		display: inline;
		margin-bottom: .4em;
	}

	.phone-number {
		color: $color-text-link;
		margin-bottom: .5em;
	}
}

.horizontal-contact-block .contact-block{
	@extend .clearfix;

	section {
		@include box-sizing(border-box);
		float: left;
		margin-right: 0;
		width: 33.33333333%
	}
}

.contact-block-sidebar {
	&:after {
		@include gradient-top-to-bottom(#cdcdcd, #f8f8f8, false, #cdcdcd 0%, #cfcfcf 11%, #d9d9d9 37%, #f4f4f4 89%, #f8f8f8 100%);
		content: ' ';
		display: block;
		height: 36px;
		width: 1px;
	}

	.box-header {
		margin-bottom: 0;
		padding-bottom: .5em;
		padding-left: .625em;
		position: relative;

		&:before {
			@include gradient-top-to-bottom(#f8f8f8, #cdcdcd, false, #f8f8f8 0%, #f4f4f4 11%, #d9d9d9 63%, #cfcfcf 89%, #cdcdcd 100%);
			content: ' ';
			height: 100%;
			display: block;
			left: 0;
			position: absolute;
			width: 1px;
		}
	}

	> .contact-block {
		border: 1px solid #CCC;
		border-right: none;

		section {
			border-bottom: 1px dashed #CCC;
			border-width: 1px 0;

			&:last-child {
				border-bottom: none;
			}
		}
	}
}

.contact-form {

	.contact-time {
		ul {
			display: inline-block;
			margin-right: 1em;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	textarea {
		height: 6em;
		width: 29em;
	}
}
