button.calendar {
	background:transparent url(../img/calendar_icon.png) no-repeat center;
	border:0;
	height:1.666em;
	margin-top:0;
	margin-bottom:-.5em;
	margin-left:.25em;
	overflow:hidden;
	padding:0;
	width:1.666em;
	text-indent:-9999em;
	vertical-align:baseline;
}