.notification {
	margin: 1em 0;
	padding: .5em 2em .5em 2.5em;
	position: relative;

	&:before {
		font-family: 'FontAwesome';
		font-size: 1.33333333em;
		left: .5em;
		position: absolute;
		top: .2em;
	}

	p {
		margin: 0;
	}
}

.info-message {
	background-color: $color-message-background;
	border: 1px solid $color-text-link;

	&:before {
		color: $color-text-link;
		content: '\f05a';
	}
}

.blocking-message {
	background-color: $color-warning-background;
	border: 1px solid $color-text-error-light;

	&:before {
		color: $color-text-error-light;
		content: '\f071';
	}
}
