<!DOCTYPE html>
<html lang="nl-NL" class="no-js">
<head>
	<!-- IMPORTANT: X-UA-Compatible must be the first meta tag and must not be enclosed in conditional statements -->
	<!-- This will prevent automatic switching to the IE compatibility mode of an older IE version (bug #5999) -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="{{ site.url }}/static/css/styles.css"/>

	<script src="{{ site.url }}/static/js/vendor/modernizr/modernizr-2.6.2.js"></script>

</head>
