.no-print, .band, .next-step-container, .secondary-action, section[data-module='ui/lightbox'] {
	display: none !important;
	* {
		display: none !important;
	}
}

.da-linked-section, .da-section:last-of-type {

	&:before, &:after {
		border: 0 !important;
		display: none !important;
	}
}