
$input-box-shadow-inner:inset 0 .125em .25em rgba(0,0,0,.125);
$input-border-color-focus:#FF9200;
$field-box-shadow-focus:0 0 .5em rgba(255,146,0,.5);
$input-border-color-error:red;
$field-error-box-shadow-focus:0 0 .5em rgba(255,0,0,.5);


/**
 * Specific form mixins
 */
@mixin input {
	input[type=date],
	input[type=email],
	input[type=number],
	input[type=password],
	input[type=text],
	input[type=search],
	textarea {
		@content;
	}
}

@mixin checkable {
	input[type=radio],
	input[type=checkbox] {
		@content;
	}
}

@mixin spinners {
	input[type=date]::-webkit-inner-spin-button,
	input[type=date]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		@content;
	}
}

@include spinners {
	-webkit-appearance:none;
	margin:0;
}

input,select,textarea {
	@include box-sizing(border-box);
}

fieldset {
	border:0;
	margin:0;
	padding:0;
}

label {
	cursor:pointer;
}

textarea {
	resize:vertical;
}


/**
 * Text input default styles
 */
@include input {

	// default input styles
	border:1px solid #aaa;
	box-shadow:$input-box-shadow-inner;
	line-height:24px;
	padding:0 .25em 0 .375em;
	@include radius(.25em);
	@include transition(box-shadow .25s, border-color .25s);

	// what happens when the user gives focus to the input
	&:focus {
		box-shadow:$input-box-shadow-inner,$field-box-shadow-focus;
		border-color:$input-border-color-focus;
		outline: 0;
	}
}

input[type=date] {
	 width:165px;
}

input[type=date].fallback {
	width:115px;
}


/**
 * Select default styles
 */
select:focus {
	/*
	commented as this removes the default select style
	outline:0;
	box-shadow:$field-box-shadow-focus;
	*/
}

/**
 * Form item
 * Wrapper to group label and field together
 */
.form-item {

	margin-bottom:1em;

	>legend,
	>label {
		display:block;

		&:after {
			clear:both;
			content:'';
		}
	}

	input + .info-text {
		padding-top: .2em;
	}
}

/**
 * Form item set
 * Wrapper to group form items together
 */
.form-item-set {

	border-spacing:0;
	display:table;
	margin-bottom:1em;
	width:100%;

	>.form-item {
		display:table-cell;
	}
}



/**
 * Checkable
 * Checkbox and Radiobutton formatting
 */
.checkable {

	white-space:nowrap;

	input {
		float:left;
		height:1.5em;
		margin-right:.25em;
	}

	span {
		font-weight:normal;
		overflow:hidden;
	}

}

input:disabled,
input[readonly="readonly"],
input[readonly] {
	background-color: $color-fill-disabled;
}

/**
 * Checkable list
 * Class to be used on fieldset wrapped around unordered checkable list
 */
.checkables {

	border:0;
	margin-bottom: 1em;

	// list
	ul {
		list-style:none;
		margin:0;
		padding:0;
	}

	li {
		display:inline-block;
		margin-right:.5em;
	}

	// legend serves as label
	legend {
		display:block;
		margin:0;
		padding:0;
	}

	// stacked checkables
	&.stacked li {
		display:block;
		margin-right:0;
	}
}



/**
 * Input with button
 */
.input-append input,
.input-append .add-on {
	@include box-sizing(border-box);
	height:30px;
}

.input-append {

	position:relative;

	input {
		border-radius: .25em 0 0 .25em;
		line-height:28px;
		position:absolute;
		top:0;
		width:10em;
	}

	.add-on {
		@include transition(padding-left .5s);
		border-radius: 0 $primary-action-radius $primary-action-radius 0;
		left:9.5em;
		line-height:22px;
		top:0;
	}
}

.search-button {
	.spinner {
		margin-top: 1px;
	}
	&.searching {
		padding-left: 2em;
	}
}


/**
 * Validation
 */
.validity-invalid {

	@include input {

		border-color:red;

		&:focus {
			box-shadow:$input-box-shadow-inner,$field-error-box-shadow-focus;
		}
	}
}

.validity-valid {
	position:relative;
}

.validity-marker-valid {
	position:absolute;
	right:0;
	color:green;

	&:before {
		content: '\F058';
		font-family: 'FontAwesome';
		margin-right: .5em;
	}
}

.validity-list {
	list-style:none;
	margin:0;
	padding:0;
}

.validity-list li {
	margin: .2em 0 0 0;
}

.validity-list-item {
	color: $color-text-error-light;
	font-size: .875em;

	&:before {
		content: '\F06A';
		font-family: 'FontAwesome';
		margin-right: .5em;
	}
}

.validity-okay-list-item {
	color: $color-text-positive;
	font-size: .875em;
	margin: .2em 0 1em .5em;

	&:before {
		content: '\F058';
		font-family: 'FontAwesome';
		margin-right: .5em;
	}
}

.form-item + .parsley-error-list {
	margin-top: -1em;
}

div[data-validation-id] > ul {
	margin-top: -1em;
}

.info-text + div[data-validation-id] > ul {
	margin-top: 0;
}

label + .input-append,
label + input,
label + textarea,
label + select {
	margin-top: .25em;
}

input[type="radio"] + span,
input[type="radio"] + label {
	margin-left: .25em;
}
