/*
	TODO:
	- Find a better way to make the button with the class 'add-on' the same height as the input element
 */


/*	====================================
	FONT FACE DECLARATIONS
	================================= */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff') format('woff'),
    url('../fonts/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'themixbold';
	src: url('../fonts/TheMix_Bold.eot');
	src: url('../fonts/TheMix_Bold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/TheMix_Bold.woff') format('woff');//,
	     //url('../fonts/TheMix_Bold.ttf') format('truetype'),
	     //url('../fonts/TheMix_Bold.svg#the_mix_bold-bold') format('svg');
}

@font-face {
	font-family: 'thesansplain';
	src: url('../fonts/TheSans_Plain.eot');
	src: url('../fonts/TheSans_Plain.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/TheSans_Plain.woff') format('woff');//,
	     //url('../fonts/TheSans_Plain.ttf') format('truetype'),
	     //url('../fonts/TheSans_Plain.svg#thesansplain') format('svg');
}
/*	== FONT FACE DEFINITIONS ======== */


/*	====================================
	FONT STACKS
	================================= */
$thesans-plain: 'thesansplain', 'Segoe UI', Helvetica, Arial, sans-serif;
$themix-bold: 'themixbold', 'Segoe UI Bold', 'Trebuchet MS', Arial, 'Arial Black', sans-serif;
/*	== FONT STACKS ================== */


/*	====================================
	COLOR DEFINITIONS
	================================= */
$default-border-radius: 9px;

$color-text-error: #AA0D30;
$color-text-error-light: #C3003C;

$color-text-positive: #0f7e03;
$color-call-to-action: #00C82A;

$color-text-link-active: #F60; // TODO: kleur nog onbekend

$color-text: #4B4B4B;
$color-text-link: #0071B2;
$color-text-secondary: #727272;
$color-text-emphasized: #333;
$color-text-strong: #000;

$color-border: #FF9200;

$color-message-background: #EDF7FC;
$color-warning-background: #FEEBF1;
$color-text-unimportant: #CCC;

$color-fill: #FFF;
$color-fill-alt: #FFF7D9; //#FFF6EB; //#FFF7D9;
$color-fill-disabled: #F2F2F2;

$color-fill-link-active: #F60; // TODO: kleur nog onbekend

$color-button-inactive: #CCC;

$color-button-gradient-0: #FF9200;
$color-button-gradient-1: #FFB400;
$color-button-gradient-2: #FC0;

$color-je-pakket-selected: #F0F9E9;

$color-triangle-fill: #fbfbfb;
$color-triangle-active-fill: #fdf7ef;

// agreed upon with Kitty: anchor underline is 26% lighter than the text color
$color-link-underline: #ACC0DA; //lighten($color-text-link, 52%);
/*	== COLOR DEFINITIONS ============ */


/*	====================================
	PRIMARY ACTION
	================================= */
$primary-action-radius: 9px;
$primary-action-text-disabled: #828282;
$primary-action-circle-disabled-fill: #EBEBEB;

$section-border-radius: 5px;

.primary-action {
	@include gradient-top-to-bottom($color-button-gradient-2, $color-button-gradient-0, true, $color-button-gradient-2 0%, $color-button-gradient-0 100%);

	border: 1px solid $color-border;
	border-radius: $primary-action-radius;

	box-shadow:inset 0px 1px 1px 0px rgba(255, 255, 255, 0.7);

	color: $color-text-strong;
	cursor: pointer;
	display: inline-block;
	font: normal 1em/1.222222em $themix-bold;
	max-width: 12em;
	padding: .2em .8em .3em;
	position: relative;
	text-align: left;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);

	&:hover {
		@include gradient-top-to-bottom($color-button-gradient-1, $color-button-gradient-0, true, $color-button-gradient-1 0%, $color-button-gradient-0 100%);
		border-bottom-color: $color-border;
		box-shadow:  0px 1px 0px rgba(0, 0, 0, 0.7), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.7);
	}
	&:visited {
		color: $color-text-strong;
	}
	&:active {
		@include gradient-top-to-bottom($color-button-gradient-1, $color-button-gradient-2, true, $color-button-gradient-1 0%, $color-button-gradient-2 100%);
		border-color: $color-button-gradient-1;
		box-shadow:  0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.7);
		color: $color-text-strong;
	}
	&.disabled {
		background: $color-button-inactive;
		border-color: $color-button-inactive;
		box-shadow: none;
		color: $primary-action-text-disabled;
		cursor: default;
		text-shadow: none;
	}
}

.primary-action-icon {
	padding: .5em 2.8em .6em .8em;

	&:after {
		background-color: #FFF;
		border-radius: 13px;
		box-shadow: -1px -1px 0px rgba(255, 128, 0, 1);
		content: attr(data-action-char);
		display: block;
		font-family: 'FontAwesome';
		font-size: .875em;
		height: 26px;
		line-height: 28px;
		margin-top: -13px;
		position: absolute;
		right: .8em;
		text-align: center;
		top: 50%;
		width: 26px;
	}

	&.display:after {
		background-color: $primary-action-circle-disabled-fill;
		box-shadow: none;
	}
}

.primary-action-large {
	padding-bottom: .5em;
	padding-top: .5em;
}
/*	== PRIMARY ACTION =============== */

/*	====================================
	SECONDARY ACTION
	================================= */
	.secondary-action {
		color: $color-text-link;
		line-height: 1.4;
		padding: 0 0 0 1em;
		position: relative;

			background-color: transparent;
			border: 1px solid $color-link-underline;
			border-width: 0 0 1px;
			padding-left: 1.5em;

		&:hover {
			border-bottom: 1px solid $color-text-link;
		}


		&:active {
			background-color: $color-text-link;
			border-bottom: 1px solid $color-text-link;
			color: #FFF !important;

			&:before {
				color: #FFF;
			}
		}
		&:before {
			content: attr(data-action-char);
			color: $color-button-gradient-0;
			display: block;
			font-family: 'FontAwesome';
			font-size: .875em;
			left: 0;
			position: absolute;
			bottom: 0;
			width: 1em;
		}
	}
/*	== SECONDARY ACTION ============= */

/*	====================================
	EXPAND/COLLAPSE BUTTON
	================================= */
.ec-button {
	background-color: transparent;
	border: 1px solid $color-link-underline;
	border-width: 0 0 1px 0;
	color: $color-text-link;
	font-size: .875em;
	line-height: 1.4;
	margin-right: 1.5em;
	overflow: visible;
	padding: 0;
	position: relative;

	&:before {
		bottom: 0;
		display: block;
		font-family: 'FontAwesome';
		font-size: .875em;
		position: absolute;
		right: -1.5em;
		width: 1em;
	}

	&:hover {
		border-bottom-color: $color-text-link;
	}
}

.collapse-button {
	@extend .ec-button;

	&:before {
		content: '\f077';
	}
}

.expand-button {
	@extend .ec-button;

	&:before {
		content: '\f078';
	}
}
/*	== EXPAND/COLLAPSE BUTTON ======= */

/*	====================================
	POP-OVER TRIGGER
	================================= */
.additional-info {
	border-bottom-style: dashed;
	font-size: .875em;
	line-height: 1.4;
}
/*	== POP-OVER TRIGGER ============= */


/*	====================================
	PAPERCLIP
	================================= */
.paperclip {
	background-color: $color-text-positive;
	box-shadow: 0 1px 1px rgba(0,0,0,.7);
	border-radius: 3px 3px 0 3px;
	color: $color-fill;
	line-height: 1.3em;
	padding: .5em .5em .5em 2em;
	position: absolute;
	right: -.5em;
	top: .5em;
	width: 7em;
}
.paperclip:after {
	border-right: .5em solid transparent;
	border-top: .5em solid #050;
	bottom: -.5em;
	content: ' ';
	display: block;
	height: 0;
	position: absolute;
	right: 0;
	width: 0;
}
.paperclip:before{
	content: url(../img/paperclip-checkmark.png);
	height: 20px;
	position: absolute;
	left: .8em;
	width: 20px;
}
/*	== PAPERCLIP ==================== */


html {
	background: $color-fill;
	color: $color-text;
	font: normal 16px/1.6 $thesans-plain;
}

a {
	border-bottom: 1px solid $color-link-underline;
	color: $color-text-link;
	margin: 0 0 .5em;
	text-decoration: none;

	&:visited {
		//border-bottom: 1px solid lighten(#004972, 52%);
		color: #004972;
	}

	&:active {
		background-color: $color-text-link;
		border-bottom: 1px solid $color-text-link;
		color: #FFF;
	}

	&:hover {
		border-bottom: 1px solid $color-text-link;
	}

	&[rel=external] {
		line-height: 1.4;
		padding-right: 1.2em;
		position: relative;

		&:after {
			bottom: 0;
			color: $color-text-link;
			content: '\f08e';
			display: block;
			font-family: 'FontAwesome';
			font-size: .875em;
			position: absolute;
			right: 0;
		}
	}
}

input {
	font: normal 16px/1.6 $thesans-plain;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font: normal 1em/1.6 $themix-bold;
	line-height: 1.33333333em;
	padding: 0;
	margin: 0 0 .5em;
}

.h1 {
	color: $color-text-strong;
	font-size: 1.625em;
}

.h2 {
	color: $color-text-emphasized;
	font-size: 1.3125em;
}

.h3 {
	color: $color-text;
	font-size: 1.125em;
}

.info-text {
	color: $color-text-secondary;
	font: normal .875em/1.14285714 $thesans-plain;
	margin-top: .5em;
}

.positive {
	color: $color-text-positive;
}

.side-content {
	@include box-sizing(border-box);
	float: right;
	padding-left: 1em;
	width: 25%;
}

.error-page-visual{
	border-radius: $default-border-radius;
	height: 160px;
	width: 510px;
}

/* ==[ Skype ]==========================
	These styles are to override the styles added by the Skype Click & Call plug-in. The body element is added
	to create a higher specificity.
   ================================== */
body span.skype_pnh_container img.skype_pnh_logo_img {
	display: none !important;
}

body span.skype_pnh_container span.skype_pnh_highlighting_inactive_common span.skype_pnh_text_span {
	border-bottom: 1px solid $color-link-underline !important;
	color: $color-text-link !important;
	display: inline-block;
	padding-bottom: .125em;
	text-decoration: none;
}

/* ==[ iOS ]============================
	This is to prevent the styling iOS applies to recognized phone numbers.
   ================================== */
a[href^=tel]{
	color: inherit;
	text-decoration: none;
}

/*	====================================
	Generic styling for forms
	================================= */
.form-section {
	background: transparent url(../img/texture_cz_blizard.png) repeat;
	border: 1px solid $color-border;
	border-bottom-left-radius: $section-border-radius;
	border-bottom-right-radius: $section-border-radius;
	border-top-left-radius: $section-border-radius;
	border-top-right-radius: $section-border-radius;
	padding: 1em;

	.form-sub-section {
		border-bottom: 1px solid $color-border;
		margin-bottom: 1em;
		padding-bottom: 1em;

		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}
