---
layout: default
title: Color style tile

colors: [
	{
		colorCode: '#aa0d30',
		description: 'CZ rood',
		sassName: '$color-text-error',
		usage: 'Logo'
	},
	{
		colorCode: '#000',
		description: 'Zwart',
		sassName: '$color-text-strong',
		usage: 'H1, tekst met nadruk'
	},
	{
		colorCode: '#c3003c',
		description: 'CZ lichtrood',
		sassName: '$color-text-error-light',
		usage: 'Logo'
	},
	{
		colorCode: '#333',
		description: 'Bijna zwart',
		sassName: '$color-text-emphasized',
		usage: 'H2, tekst met nadruk'
	},
	{
		colorCode: '#ff9200',
		description: 'CZ oranje',
		sassName: '$color-border, $color-gradient-0',
		usage: 'Logo, kaderranden, button gradient'
	},
	{
		colorCode: '#4b4b4b',
		description: 'Donkergrijs',
		sassName: '$color-text',
		usage: 'H3, bodytekst'
	},
	{
		colorCode: '#ffb400',
		description: 'Oranje',
		sassName: '$color-button-gradient-1',
		usage: 'Button gradient'
	},
	{
		colorCode: '#727272',
		description: 'Grijs',
		sassName: '$color-text-secondary',
		usage: 'n/a'
	},
	{
		colorCode: '#fc0',
		description: 'Donkergeel',
		sassName: '$color-button-gradient-2',
		usage: 'Button gradient'
	},
	{
		colorCode: '#e3e3e3',
		description: 'Lichtgrijs',
		sassName: 'n/a',
		usage: 'Inactieve button'
	},
	{
		colorCode: '#fff6eb',
		description: 'Lichtgeel',
		sassName: '$color-fill-alt',
		usage: 'Achtergrond kader'
	},
	{
		colorCode: '#0071B2',
		description: 'Blauw',
		sassName: '$color-text-link',
		usage: 'Hyperlink'
	},
	{
		colorCode: '#fff',
		description: 'Wit',
		sassName: '$color-fill',
		usage: 'Achtergrond kader'
	},
	{
		colorCode: '#0f7e03',
		description: 'Groen',
		sassName: '$color-text-positive',
		usage: 'Positieve tekst'
	},
	{
		colorCode: '#EDF7FC',
		description: 'n/a',
		sassName: '$color-message-background',
		usage: 'Popover / info background'
	},
	{
		colorCode: '#FEEBF1',
		description: 'n/a',
		sassName: '$color-warning-background',
		usage: 'Warning sign in blocking message'
	},
	{
		colorCode: '#CCC',
		description: 'Lichtgrijs',
		sassName: '$color-text-unimportant',
		usage: 'Personalia-set border, disabled indicator step'
	},
	{
		colorCode: '#F2F2F2',
		description: 'Lichtgrijs',
		sassName: '$color-fill-disabled',
		usage: 'Disabled fields'
	}
]

components: [
	{
		colorCode: '#727272',
		description: 'Lichtgrijs',
		sassName: '$si-color-active-step',
		usage: 'Active step indicator step'
	},
	{
		colorCode: '#E5F9E2',
		description: 'Lichtgroen',
		sassName: '$pk-color-selected-item-fill',
		usage: 'Selected pakket item'
	},
	{
		colorCode: '#f64519',
		description: 'Oranje rood',
		sassName: '$pk-color-most-picked',
		usage: 'Meest gekozen tekst kleur'
	}
]
---
<style>
	.color-tile {
		float: left;
		margin: 1em;
		width: 450px;
	}
	.color-tile:before,
	.color-tile:after {
		content: ' ';
		display: table;
	}
	.color-tile:after {
		clear: both;
	}

	.color-container {
		background-color: #FFF;
		border: 1px solid #CCC;
		-webkit-filter: drop-shadow(0 0 2px rgba(0,0,0,.5));

		float: left;
		height: 75px;
		padding: 5px;

		width: 75px;
	}
	.color-sample {
		height: 100%;
		width: 100%;
	}
	dl {
		font-size: .7em;
		float: left;
		margin: .5em;
	}
	dl:before,
	dl:after{
		content: ' ';
		display: table;
	}
	dl:after{
		clear: both;
	}
	dt,
	dd {
		float: left;
	}
	dt {
		clear: left;
		text-align: right;
		width: 6.5em;
	}

	dd {
		margin-left: .5em;
	}
	.color-string {
		text-transform: uppercase;
	}
</style>
<section>
	<h1 class="h1">Algemene kleuren</h1>
	{% for color in page.colors %}
	<div class="color-tile">
		<div class="color-container">
			<div class="color-sample" style="background-color:{{color.colorCode}}"></div>
		</div>
		<dl>
			<dt>Color code:</dt>
			<dd class="color-string">{{color.colorCode}}</dd>
			<dt>Sass variable:</dt>
			<dd>{{color.sassName}}</dd>
			<dt>Description:</dt>
			<dd>{{color.description}}</dd>
			<dt>Used for:</dt>
			<dd>{{color.usage}}</dd>
		</dl>
	</div>
	{% endfor %}

	<h1 class="h1" style="clear:left;">Component kleuren</h1>
	{% for color in page.components %}
	<div class="color-tile">
		<div class="color-container">
			<div class="color-sample" style="background-color:{{color.colorCode}}"></div>
		</div>
		<dl>
			<dt>Color code:</dt>
			<dd class="color-string">{{color.colorCode}}</dd>
			<dt>Sass variable:</dt>
			<dd>{{color.sassName}}</dd>
			<dt>Description:</dt>
			<dd>{{color.description}}</dd>
			<dt>Used for:</dt>
			<dd>{{color.usage}}</dd>
		</dl>
	</div>
	{% endfor %}
</section>